@charset "UTF-8";

@include reset();

img {
    max-width: 100%;
}

html {
    box-sizing: border-box;
    font-size:20px;
    color:$black;
}

body {    
    font-family: 'Consolas', 'Arial', sans-serif;
    overflow-wrap: break-word;
    word-wrap: break-word;
    box-sizing: border-box;    
}

.container {
    @include wrapper();    
}

.row {
    @include row-flex();
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between; 
}

.mb-70 { 
    margin-bottom: 70px; 
    @include sm(margin-bottom, 30px);
    
}
.mb-30 { margin-bottom: 30px; }

.mt-70 { 
    margin-top: 70px;
    @include sm(margin-top, 30px);
}



