@charset "UTF-8";

html {
    box-sizing: border-box;
    font-size:20px;
    color: $black;
    scroll-behavior: smooth;
}

body {    
    font-family: 'Consolas', 'Arial', sans-serif;
    overflow-wrap: break-word;
    word-wrap: break-word;
    box-sizing: border-box;    
}

a {
    &:hover {
        text-decoration: none;
    }
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

img { max-width: 100%; }
