@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  box-sizing: border-box; }

.container {
  min-width: 320px;
  max-width: 100%;
  padding: 0 0;
  margin: 0 auto;
  box-sizing: border-box; }

.wrap {
  min-width: 320px;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box; }

img {
  max-width: 100%; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000; }

.header {
  padding-top: 3rem; }
  .header-logo {
    display: flex;
    justify-content: space-between; }
    .header-logo__box {
      display: flex; }
    .header-logo__img {
      width: 5rem;
      height: 5rem;
      margin-right: 1.4rem; }
    .header-logo__text-box {
      display: flex;
      flex-direction: column; }
    .header-logo__title {
      font-size: 2rem;
      font-weight: 700; }
    .header-logo__text {
      color: #969696; }
    .header-logo__phone-box {
      display: flex; }
    .header-logo__phone-text {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 30px; }
    .header-logo__phone {
      font-size: 1.8rem;
      font-weight: 700; }

.footer {
  background-color: #292929; }
  .footer-container {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    width: auto; }
  .footer__left {
    width: 22rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .footer__left-content {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .footer__left-content-text {
        display: flex;
        flex-direction: column; }
        .footer__left-content-text-title {
          font-size: 2rem;
          text-transform: uppercase;
          font-weight: 700; }
      .footer__left-content-img {
        width: 3.7rem;
        height: 3.8rem; }
    .footer__left-copyright {
      font-size: 1.2rem; }
  .footer__right {
    width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; }
    .footer__right-box {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end; }
      .footer__right-box-phone {
        font-size: 1.8rem; }

.btn {
  display: block;
  padding: 1.5rem 2.5rem;
  font-weight: 700;
  color: #000;
  background-color: #ffffff;
  border: 2px solid #000;
  cursor: pointer;
  transition: all 200ms; }
  .btn:hover {
    background-color: #000;
    color: #ffffff; }
  .btn:active {
    transform: translateY(3px); }
  .btn--yellow {
    background-color: #ffcc00;
    border: none; }
  .btn--margin-right {
    margin-right: 3rem; }
  .btn__goods {
    width: 18rem;
    padding: 2rem 5.5rem; }
  .btn-black {
    color: #ffffff;
    background-color: #292929;
    border: 1px solid #ffffff; }

.nav-bar {
  background-color: #ffcc00;
  width: 100%;
  position: relative;
  z-index: 1;
  transform: translateY(3rem); }
  .nav-bar__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 6rem; }
  .nav-bar__link {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 1.4rem; }

.proposal {
  background: url(../img/traktor.png) center no-repeat;
  background-size: cover; }
  .proposal__wrap {
    padding: 14rem 1rem 13rem 1rem; }
  .proposal__title {
    font-size: 3.6rem;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase; }
  .proposal__descr {
    width: 23rem;
    color: #ffffff;
    font-size: 1.4rem;
    margin-bottom: 6.5rem; }
  .proposal_buttons {
    display: flex;
    align-items: center; }
  .proposal__button {
    display: flex;
    align-items: center;
    margin-bottom: 14rem; }
  .proposal__text {
    color: #ffffff;
    margin-right: .5rem; }
  .proposal__link {
    color: #ffffff;
    font-weight: 700;
    text-decoration: underline; }

.text-center {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700; }

.margin-bottom-60 {
  margin-bottom: 6rem; }

.margin-bottom-80 {
  margin-bottom: 8rem; }

.padding-top-60 {
  padding-top: 6rem; }

.padding-bottom-60 {
  padding-bottom: 6rem; }

.padding-bottom-40 {
  padding-bottom: 4rem; }

.goods__title {
  padding-top: 8rem; }

.goods__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 6rem 0 8rem 0; }

.goods__item {
  max-width: 27rem;
  padding-top: 5rem;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: 1px solid #f6f6f6; }
  .goods__item:last-child {
    margin-right: 0; }
  .goods__item-img {
    width: 25rem;
    height: 14rem;
    margin-bottom: 3rem; }
  .goods__item-title {
    font-size: 1.7rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 2rem; }
  .goods__item-descr {
    margin-bottom: 3rem; }
  .goods__item-price {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 3rem; }

.advantages {
  background-color: #f4f4f4; }
  .advantages__img {
    width: 5rem;
    height: 5rem; }
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none; }
  .advantages__item {
    height: 25rem;
    max-width: 30rem;
    margin-bottom: 2rem;
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    margin-right: 2rem; }
    .advantages__item:last-child {
      margin-right: 0; }
    .advantages__item:hover {
      background-color: #ffffff; }
  .advantages__title {
    font-size: 1.5rem;
    font-weight: 700; }

.trades {
  background-color: #ffffff; }
  .trades__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .trades__item {
    border: 1px solid #f6f6f6;
    margin-right: 2rem;
    width: 18rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem; }
    .trades__item:last-child {
      margin-right: 0; }
    .trades__item-img {
      position: relative;
      margin-bottom: 2.2rem; }
    .trades__item-img-special::after {
      content: "Акция";
      position: absolute;
      width: 6.5rem;
      font-size: 1.6rem;
      top: .8rem;
      left: 1rem;
      background-color: #ff0000;
      color: #ffffff;
      text-align: center;
      text-transform: uppercase; }
    .trades__item-title {
      font-size: 1.3rem;
      text-decoration: underline;
      margin-bottom: 2.5rem; }
    .trades__item-price {
      display: flex;
      justify-content: space-around;
      margin-bottom: 3rem; }
      .trades__item-price--now {
        font-weight: 700;
        font-size: 1.6rem;
        color: #ff0000; }
      .trades__item-price--old {
        text-decoration: line-through; }
      .trades__item-price--old-only {
        text-decoration: none;
        color: #000;
        font-weight: 700;
        font-size: 1.6rem; }

.services {
  background-color: #f4f4f4; }
  .services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none; }
  .services__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border: 1px solid #ffffff;
    width: 30rem;
    height: 25rem;
    margin-bottom: 3rem; }
    .services__item-title {
      font-size: 1.5rem;
      font-weight: 700;
      text-decoration: underline; }

.contacts {
  background-image: url(../img/footer-img.png);
  background-size: cover;
  padding: 8rem 0;
  margin-left: auto; }
  .contacts__wrap {
    display: flex;
    justify-content: flex-end; }
  .contacts__box {
    width: 38rem;
    padding: 5rem;
    margin-right: 2rem;
    background-color: #ffffff;
    font-weight: 700;
    font-size: 1.4rem; }
  .contacts-title {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 5rem; }
  .contacts-phones {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 3rem;
    margin-bottom: 4rem; }
    .contacts-phones::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      top: 5px;
      left: -3px;
      background-image: url(../img/phone.png);
      background-repeat: no-repeat; }
  .contacts-adress {
    position: relative;
    padding-left: 3rem;
    margin-bottom: 4rem; }
    .contacts-adress::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      top: 5px;
      left: -3px;
      background-image: url(../img/location-pin.png);
      background-repeat: no-repeat; }
  .contacts-email {
    position: relative;
    padding-left: 3rem; }
    .contacts-email::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      top: 5px;
      left: -3px;
      background-image: url(../img/mail.png);
      background-repeat: no-repeat; }
