body {
  margin: 0;
  padding: 0;
  min-width:1200px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor:pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display:inline-block;
  width:160px;
  padding:17px 40px;
  font-size:16px;
  line-height: 18px;
  text-align:center;
  color: #ffffff;
  vertical-align:middle;
  text-transform: uppercase;
  background-color: #000000;
  border-radius:3px;
  border: none;
  cursor:pointer;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  margin-bottom:80px;
  background-color: #eeeeee;
}

.main-nav {
  display: -webkit-box;
	display: -ms-flexbox;
  display:flex;
  justify-content: flex-start;
  align-items: center;


  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;

  margin:auto;
  padding-top:49px;
  margin:auto;
}

.main-logo {
  width:160px;
  height:65px;
  margin-right: 200px;
}

.site-nav {
  display: -webkit-box;
	display: -ms-flexbox;
  display:flex;
  justify-content: space-between;
  align-items: center;

  width:442px;
  padding:0;
  margin:0;
  margin-right:285px;
  padding-top:13px;
  list-style: none;
}

.site-nav-item {
  margin-right:47px;
}

.bin {
  position:relative;
  margin-left:237px;
  margin-right:0px;
}

.bin::before {
  position:absolute;
  content:"";
  left:-41px;
  top:7px;
  width:15px;
  height:15px;
  background-image:url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-logo:hover img,
.main-logo:focus img {
  opacity: 0.8
}

.main-logo:active,
.main-logo img:active {
  opacity: 0.3
}

.site-nav a {
  color: #000000;
}

.site-nav-link:focus,
.site-nav-link:hover {
  color: #fb565a;
}

.site-nav-link:active {
  color:#000000;
  opacity:0.3;
}

.site-nav-current {
  position:relative;
}

.site-nav-current a:not([href]) {
  background-color: #000000;
}

.site-nav-current:after {
  position:absolute;
  content:"";
  right: 1px;
  top: 35px;
  left: 1px;

  height: 3px;
  background-color: #fb565a;
}

.main-slider {
  position:relative;
  padding:0px;
  margin:0px;
}

.slider-controls {
  position:absolute;
  left:50%;
  bottom:104px;
  z-index:10;
  width:160px;
  height:18px;
  text-align: center;
  font-size:0px;
  transform: translateX(-50%);
}

.slider-controls label {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 8px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls label::after {
  position:absolute;
  left:8px;
  top:8px;
  z-index:1;
  content: "";

  width: 18px;
  height: 18px;

  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin:0;
  padding:0;
  list-style: none;
}


.slider-item h3 {
  max-width:600px;
  margin: 0;
  margin-bottom:27px;

  font-size: 55px;
  line-height: 55px;
  text-align: left;
  font-weight:bold;
}

.slider-item p {
  max-width:420px;
  margin:0;
  margin-bottom:39px;
}

.slider-item:nth-child(1) {
  background-image: url(../img/slide1.png);
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url(../img/slide2.png);
  background-repeat: no-repeat;
  background-position: 100% 0px;
}

.slider-item:nth-child(3) {
  background-image: url(../img/slide3.png);
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-item {
  display:none;
  padding: 78px 0 80px 0;
}

.slider-input-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

.slider-input-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

.slider-input-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

.slider-input-1:checked~.slider-controls .slider-control-label-1::before,
.slider-input-2:checked~.slider-controls .slider-control-label-2::before,
.slider-input-3:checked~.slider-controls .slider-control-label-3::before {
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  z-index: 2;
  width:4px;
  height:4px;
  margin:-4px;
  background-color:inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.goods-main {
  margin-bottom:80px;
}

.goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display:flex;
  justify-content:space-between;

  margin:0px;
  padding:0px 60px 0 0;
  list-style: none;
}

.goods li {
  max-width:300px;
}

.goods h3 {
  margin:0;
  padding:0;
  margin-top:20px;
  margin-bottom:15px;

  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.goods p {
  margin:0;
  padding:0;
  margin-bottom:32px;
  max-width:260px;
}

.button-goods {
  padding:16px 0px 16px 0px;
}

.main-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display:flex;

  margin:0px;
  padding:0px;
  margin-bottom:71px;

  list-style:none;
  border-top:2px solid #eeeeee;
}

.main-advantages h3 {
  width:670px;
  margin:0;
  margin-bottom:32px;
  font-size: 45px;
  line-height: 45px;
  font-weight:700;
  color: #000000;
}

.main-advantages h4 {
  margin-bottom:25px;

  text-transform: uppercase;
  font-weight: 700;
}

.advantages-list {
  padding:0;
  margin:0;
  list-style:none;
}

.advantages-item {
  display: -ms-flexbox;
  display:flex;
  max-width:660px;
  align-items: center;
  margin-bottom:24px;
}

.advantages-item-text {
  margin:0;
  padding:0;
}

.advantages-item:nth-child(3) {
  margin-bottom:0;
}


.advantages-item::before {
  content:"";
  min-width:25px;
  height:2px;
  margin-right:11px;

  background-color: red;
}

.button-slider {
  display:inline-block;
  vertical-align: middle;
  padding:16px 40px 16px 40px;
}

.button-red {
  background-color: #fb565a;
  color: #ffffff;

}

.button-red:hover,
.button-red:focus {
  background-color: #e74246;
}

.button-red:active {
  color: rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}

.button-green {
  background-color: #00ca74;
  color: #ffffff;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #00aa62;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-yellow {
  background-color: #efc849;
  color: #ffffff;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
}

.advantages-left {
  width:660px;
  padding-top:73px;
}

.advantages-left-text {
  margin:0;
  padding:0;
  margin-bottom:40px;
}

.advantages-right {
  width:360px;
  padding-top:40px;
  margin-left:140px;
}

.advantages-right img {
  margin-bottom:28px;
}

.table {
  border-collapse:collapse;
}

.table-title {
  margin-bottom: 45px;
  text-align:center;
  font-weight: 700;
  text-transform: uppercase;
}

.table-row1 {
  font-size: 45px;
	line-height: 10.06px;
  font-weight: bold;
}

.table-row1-cell-1 {
  padding-top:5px;
  padding-bottom:33px;
  width:33%;
  text-align: left;
}

.table-row1 span {
  font-weight: 400;
  font-size:26px;
  vertical-align: super;
  font-weight:700;
}

.table-row1-cell-2 {
  font-size:16px;
  line-height: 18px;
  text-align: left;
  font-weight: 400;
}

.companies-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display:flex;
  justify-content:space-between;
  align-items: center;

  padding:49px 45px 33px 43px;

  list-style: none;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.companies-item {
  position:relative;
}

.companies-item:nth-child(1) {
  right:11px;
  top:4px;
}

.companies-item:nth-child(1):after {
	content: "";
	position: absolute;
	top: 2px;
	right: -51px;
	width: 2px;
	height: 52px;
	background-color: #eeeeee;
}

.companies-item:nth-child(2) {
  right:20px;
}

.companies-item:nth-child(2):after {
	content: '';
	position: absolute;
	top: 14px;
	right: -44px;
	width: 2px;
	height: 52px;
	background-color: #eeeeee;
}

.companies-item:nth-child(3) {
  right:20px;
}

.companies-item:nth-child(3):after {
	content: '';
	position: absolute;
	top: -6px;
	right: -60px;
	width: 2px;
	height: 52px;
	background-color: #eeeeee;
}

.companies-img {
  opacity: 0.2;
}

.companies-img:hover {
  opacity: 1.0
}

.companies-img:focus,
.companies-img:active {
  opacity: 0.1;
}

.main-footer {
  margin-bottom:70px;
  margin-top:75px;
}

.map {
  position:relative;
  width:100%;
  height:416px;
  padding:0;
  margin:0;
  margin-bottom:81px;
  overflow:hidden;
}

.main-footer .container {
  position:relative;
}

.main-footer .container-fluid {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.map-inner {
  margin-bottom:70px;
}

.map-iframe {
  position:absolute;
  width:100%;
  height:416px;
  border:0;
  z-index:2;
}

.map-img {
  position:absolute;
  top:-135px;
  left:0;
  width: 1440px;
  height:auto;
  z-index:1;
  max-width: none;
}

.footer-contacts {
  position:absolute;
  z-index:3;
  width:225px;
  max-height:210px;
  margin-top:49px;
  padding: 63px 50px 47px;
  background-color:#ffffff;
}

.footer-contacts-inner {
  padding: 52px 50px 47px 50px;
}

.footer-contacts h3 {
  margin:0;
  padding:0;
  margin-bottom:23px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-contacts-adress,
.footer-contacts-phone,
.footer-contacts-phone-link {
  margin:0;
  padding:0;

  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color:#666666;
}

.footer-contacts-adress {
  margin-bottom:18px;
}

.footer-contacts-phone {
  margin-bottom:38px;
}


.footer-button {
  width:215px;
  padding:18px 3px 15px 0px;
  background-color: #fb565a;
}

.footer-button:hover,
.footer-button:focus {
  background-color: #e74246;
}

.footer-button:active {
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display:flex;
  justify-content: flex-start;
}

.social-footer h3 {
  margin:0;
  padding:0;
  padding-top:2px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: 0.15px;
}

.social-footer p {
  margin:0;
  padding:0;
  margin-top:10px;

  font-size: 16px;
  line-height: 22px;
}

.social-button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width:260px;
  margin:0;
  padding:0;
  margin-right:139px;
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display:flex;
  align-items: center;
  justify-content: center;

  width:80px;
  height:80px;
  border-radius: 50%;
  background-color: #e1e1e1;
  color:#000000;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active path {
  fill: #e37376;
}

.footer-text {
  display:block;
}

.container h1 {
  margin:0;
  padding:0;
  padding-top:79px;
  padding-bottom:108px;
  font-size: 55px;
  line-height: 55px;
  font-weight: bold;
  text-align: center;

}

.inner-page .main-header {
  margin-bottom:55px;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display:flex;
  justify-content: space-between;

}

.filter {
  width:260px;
  margin-right:140px;
}

.filter-widget,
.filter-grid,
.filter-features {
  margin:0;
  padding:0;
  border:none;
}

.filter-widget {
  margin-bottom:53px;
}

.widget-bar {
  position:relative;
  width:260px;
  height:80px;
  margin-bottom:12px;

  background-color:#eeeeee;
  border-radius:3px;
}

.bar {
  padding:39px 27px 0 27px;
  height:3px;
}

.bar-box {
  width:210px;
  height:3px;
  background-color: #d7dcde;
}

.bar-active {
  width:140px;
  height:3px;
  background-color:#00ca74;
}

.bar-min-circle {
  position:absolute;
  top:30px;
  left:16px;
  width:22px;
  height:22px;
  font-size:0px;
  background-color:#ffffff;
  cursor:pointer;
  border-radius:50%;
}

.bar-min-circle-point {
  position:absolute;
  height:4px;
  width:4px;
  background-color: #ababab;
  top:9px;;
  left:9px;
}

.bar-max-circle {
  position:absolute;
  top:30px;
  left:154px;
  width:22px;
  height:22px;
  font-size:0px;
  background-color:#ffffff;
  cursor:pointer;
  border-radius:50%;
}

.bar-max-circle-point {
  position:absolute;
  height:4px;
  width:4px;
  background-color: #ababab;
  top:9px;;
  left:9px;
}

.widget-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display:flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width:260px;
}

.widget-numbers p {
  margin:0;
  padding:0;
  display:inline-block;
  line-height: 22px;
  vertical-align: middle;
}

.widget-numbers input {
  box-sizing:border-box;
  width:80px;
  padding:9px 10px;
  margin-left:8px;
  font-size: 16px;
  line-height: 22px;
  background-color:#eeeeee;
  border:0;
  text-align: center;
  border-radius: 3px;
}

.widget-numbers-price-from,
.widget-numbers-price-to  {
  display:inline-block;
  vertical-align: middle;
	width: 50%;
	color: #283136;
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
}

.widget-numbers-price-from {
  margin-right:29px;
}

.filter-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display:flex;
  flex-direction: column;
  margin-bottom:35px;
}

.filter-grid-legend {
  margin-bottom:7px;
}

.filter-grid-item {
  position:relative;
  margin:0;
  padding:8px 0 8px 36px;
}

.filter-grid-input + .filter-grid-label:before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0;
	width: 25px;
	height: 25px;
	background: url("../img/radio-off.svg") no-repeat;
	opacity: 0.4;
}

.filter-grid-input:checked + .filter-grid-label:before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0;
	width: 25px;
	height: 25px;
	background: url("../img/radio-on.svg") no-repeat;
	opacity: 0.4;
}

.filter-grid-label:hover {
	color: #000000;
	cursor: pointer;
}

.filter-grid-input + .filter-grid-label:hover::before {
  opacity:1;
}

.filter-grid-input:disabled + .filter-grid-label {
	color: rgba(40, 49, 54, 0.3);
}

.filter-grid-input:checked:disabled + .filter-grid-label::before,
.filter-grid-input:checked:disabled + .filter-grid-label:hover::before {
	opacity: 0.3;
}

.filter-features-input:disabled + .filter-features-label:before,
.filter-features-input:disabled + .filter-features-label:hover,
.filter-features-input:disabled:checked + .filter-features-label:before,
.filter-features-input:disabled:checked + .filter-features-label:hover:before {
  opacity:0.25;
}

.filter-grid-input:disabled + .filter-grid-label:before,
.filter-grid-input:disabled + .filter-grid-label:hover,
.filter-grid-input:disabled:checked + .filter-grid-label:before,
.filter-grid-input:disabled:checked + .filter-grid-label:hover:before {
  opacity:0.25;
}

.filter-form label {
  color:#9b9fa1;
}

.filter-form label:hover {
  color:#000000;
}

.filter label:disabled {
  opacity:0.3;
}

.filter-widget legend,
.filter-grid legend,
.filter-features legend  {

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-widget legend {
  letter-spacing: 0.5px;
}

.filter-widget-legend {
  margin:0;
  padding:0;
  margin-bottom:48px;
}

.filter-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display:flex;
  flex-direction: column;

  margin-bottom:38px;
}

.filter-features-legend {
  margin-bottom:7px;
}

.filter-features-item {
  position:relative;
  padding: 8px 0 8px 36px;
}

.filter-features-input + .filter-features-label:before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0;
	width: 25px;
	height: 25px;
	background: url("../img/checkbox-off.svg") no-repeat;
	opacity: 0.4;
}

.filter-features-input:checked + .filter-features-label:before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0;
	width: 25px;
	height: 25px;
	background: url("../img/checkbox-on.svg") no-repeat;
	opacity: 0.4;
}

.filter-features:hover {
  cursor:pointer;
}

.filter-features-input + .filter-features-label:hover:before {
  opacity:1;
}

.filter-features-input:disabled + .filter-features-label {
	color: rgba(40, 49, 54, 0.3);
}

.filter-features-input:checked:disabled + .filter-features-label::before,
.filter-features-input:checked:disabled + .filter-features-label:hover::before {
	opacity: 0.3;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display:flex;
  flex-wrap: wrap;
  width: 760px;
}

.sort-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display:flex;
  justify-content: space-between;
  list-style: none;
  align-items:flex-start;
  width:100%;

  margin-bottom:53px;
}

.sort-header-title {
  margin:0;
  padding:0;

  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight:700;
}

.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display:flex;
  width:360px;
  margin:0;
  padding:0;
  list-style: none;
}

.sort-link {
  margin-right:25px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color:#000000;
  opacity:0.3;
}

.sort-item:nth-child(3) {
  margin-right:24px;
}

.sort-link:hover,
.sort-link:focus {
  opacity:0.6;
  color:#000000;
}

.sort-link:active {
  opacity:1;
  color:#000000;
}

.sort-link-active,
.sort-link-active:hover {
  opacity:1;
	color: #000000;
}

.sort-buttom-down {
  margin-left: 0px;
  margin-right:15px;
}

.sort-button-down:focus,
.sort-button-down:hover,
.sort-button-down:active {
	opacity: 1;
}

.sort-buttom-up {
  margin-left:0px;
	margin-right: 0;
	opacity: 0.2;
}

.sort-buttom-up:focus,
.sort-buttom-up:hover {
	opacity: 0.5;
}

.sort-buttom-up:active {
	opacity: 1;
}

.sites-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display:flex;
  width:760px;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin:0;
  padding:0;
  list-style: none;
}

.sites-item {
	position: relative;
	margin-bottom: 33px;
	padding-top: 40px;
	width: 360px;
	min-height: 576px;
	overflow: hidden;
}

.sites-img {
  position:absolute;
  top:39px;
  left:0px;
}

.sites-item:before {
  content:"";
  position:absolute;
  width: 360px;
	height: 40px;
  top:0;
  left:0;
	background-image: url("../img/browser.svg");
	opacity: 0.12;
	z-index: 200;
}

.sites-item:hover:before {
  opacity:1;
}

.sites-block {
  position: absolute;
	bottom: 0;
	left: 0;
	display: none;
	width: 100%;
	min-height: 231px;
	text-align: center;
	background-color: #eeeeee;
	z-index: 20;
}

.sites-item:hover .sites-block {
  display:block;
}

.sites-block-head {
  display:inline-block;
  margin:35px auto 28px;
  padding: 0;
	vertical-align: middle;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.sites-words {
  margin:0;
  margin:0px 80px 30px 80px;
  padding:0;
  line-height: 18px;
  color:#666666;
}

.button-sites {
  max-width:120px;
  margin-left:40px;
  margin-right:40px;
  margin-bottom:42px;
  line-height: 18px;
  font-weight: 500;
	text-transform: uppercase;
  background-color: #fb565a;
}

.button-sites:hover,
.button-sites:focus {
  background-color: #e74246;
}

.button-sites:active {
	-webkit-box-shadow: inset 0 3px 0 rgba(193, 49, 53, 1.0);
	box-shadow: inset 0 3px 0 rgba(193, 49, 53, 1.0);
	background-color: #d7373b;;
}

.button-nav-list {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  margin:0;
  padding:0;
  margin-top:40px;
  width:440px;
  list-style: none;
}

.button-nav-item {
  margin-right:11px;
}

.button-nav-link {
  padding:17px 21px;
  background-color:#eeeeee;
  color:#000000;
  border-radius:3px;
}

.button-nav-link-next {
  padding-left:78px;
  padding-right:79px;
  background-color:#eeeeee;
  text-transform: uppercase;
}

.button-nav-link:hover,
.button-nav-link:focus {
  background-color:#dfdfdf;
}
.button-nav-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-nav-link-active,
.button-nav-link-active:hover,
.button-nav-link-active:active {
  padding: 14px 18px 14px 18px;
	background-color: #ffffff;
	border: 3px solid #dbdbdb;
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
}

.button-gray {
  width:260px;
  background-color:#eeeeee;
  color:#000000;
}

.button-gray:hover,
.button-gray:focus {
  background-color: #dfdfdf;
}

.button-gray:active {
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
}

.modal {
  display:none;
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  z-index:999;
  background: rgba(51, 51, 51, 0.2);
  overflow:hidden;
}

.modal-open .modal{
  display:block;
}

.modal-open {
  overflow:hidden;
  padding-right:17px;
}

.modal-window {
  position:relative;
  z-index:1;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  margin:40px auto;
  min-height: calc(100% - (40px*2));
}

.modal-content {
  position:relative;
  width:760px;
  padding:73px 100px 84px 100px;

  background-color:#ffffff;
}

.modal-header {
  display:inline-block;
  margin:0;
  padding:0;
  vertical-align: middle;
  margin-bottom:38px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.modal-item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display:flex;
  justify-content: space-between;
  margin-bottom:28px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  flex-wrap: wrap;
}

.modal-item-name {
  width:360px;
}

.modal-item-email {
  width:360px;
}

.modal-form label {
  display:inline-block;
  margin-bottom:12px;
  font-weight: 700;
  line-height: 18px;
  vertical-align: middle;
}

.modal-item-name input,
.modal-item-email input {
  box-sizing:border-box;
  width:360px;
  height:50px;

  padding-left:12px;
  outline:none;
  border:2px solid #eeeeee;
  border-radius:3px;
  color:#000000;
  opacity:0.5;
}

.modal-item-feedback {
  margin-bottom:40px;
}

.modal-item-feedback textarea {
  box-sizing: border-box;
  width:760px;
  height:118px;
  padding-left: 12px;
	padding-top: 10px;
  color:#000000;
  opacity:0.5;
  outline:none;
  border-radius: 3px;
  border:2px solid #eeeeee;
}

.modal-item-name input:hover,
.modal-item-email input:hover,
.modal-item-feedback textarea:hover {
	border-color: #b4b9bb;

}

.modal-item-name input:focus,
.modal-item-email input:focus,
.modal-item-feedback textarea:focus {
  color:#444444;
  border-color: #000000;
  opacity:1;
}

.modal-item-name input:invalid,
.modal-item-email input:invalid,
.modal-item-feedback textarea:invalid {
	color: #e74246;
	border-color: #e74246;
}

.modal-item-name input:invalid,
.modal-item-email input:invalid,
.modal-item-feedback textarea:invalid {
	color: #e74246;
	border-color: #e74246;
}

.button-modal {
  width:260px;
  padding-left: 80px;
	padding-right: 86px;
  padding-bottom:10px;
  padding-top:15px;
	line-height: 18px;

  background-color:#fb565a;
}

.button-close {
  position:absolute;
  width:21px;
  height:21px;
  top:80px;
  right:90px;
  background-color:transparent;
  font-size:0px;
  border:0;
  cursor:pointer;
}

.button-close:after,
.button-close:before {
  content: "";
  position: absolute;
  top:8px;
  left:1px;
  width: 19px;
  height: 3px;
  background-color: #fb565a;
  opacity:0.3;
}

.button-close:after {
  transform: rotate(45deg);
}

.button-close:before {
  transform: rotate(-45deg);
}

.button-close:hover:after,
.button-close:focus:after,
.button-close:hover:before,
.button-close:focus:before {
  opacity:1;
  outline: none;
}

.button-close:active:after,
.button-close:active:before {
  opacity:0.1;
  outline: none;
}
