.contacts {
  display: flex;
  flex-wrap: wrap;
}

.contacts__item {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 50%;
  background-color: $white;
  border: 2px solid $white;
  transition: all .3s ease-in-out;

  &:last-child { margin-right: 0; }

  &:hover { border: 2px solid $black; }
}

.contacts__link {
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $black;

  &:hover { color: $black; }
}

