.header {
    position: relative;
    width: 100%;
    padding: 15px 0;
    background-color: $grey;
    margin-bottom: 30px;
    clip-path: polygon(100% 0, 100% 70%, 35% 70%, 29% 100%, 0 100%, 0 0);
}

.header__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__title { flex-grow: 1; }

.header__name {     
    font-weight: 700;  
    font-size: 30px;
    text-transform: uppercase;
}; 

.header__subtitle {
    font-size: 16px;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 5px;
};

.header__link {
    align-self: flex-start;
}

.header__btn {
    color: $black;
    text-transform: uppercase;
    font-weight: 700;
    padding: 7px 20px;
    display: inline-block;
    text-align: center;
    box-shadow: 3px 3px 10px rgba($black, 0.5);
    transition: all .3s;
    border-radius: 5px;

    &:hover {
        color: $black;
        transform: scale(1.05);
        box-shadow: 3px 3px 20px rgba($black, 0.8);
    }
};

@media screen and (max-width: 768px) {

    .header {
        clip-path: polygon(100% 0, 100% 70%, 45% 70%, 35% 100%, 0 100%, 0 0);
    }
}

@media screen and (max-width: 576px) {

    .header {
        clip-path: none;
    }

    .header__content {
        display: block;
        text-align: center;
    }

    .header__contacts {
        justify-content: center;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 320px) {

    .header { padding: 7px 0; }

}
