
.header {
    padding: 20px 0;
    background-color: $grey;
    position: sticky;
    top:0;
    z-index: 100;
    box-shadow: 0 5px 30px rgba($white, 0.7);
    animation-name: slideInOpacity;
    animation-duration: 3s;

    // @include xxs(padding, 0);
}

.nav__list {  
    display: flex;
    flex-wrap: wrap;  
    @include col();
    @include size(8);
    @include size-md(10);
    justify-content: space-around; 
    list-style: none;   

    @include sm(padding-left, 0);
};

.nav__link {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2.5;
    text-decoration: none;
    color: $black;

    @include xs(font-size, 16px);

    &::after {
        position: absolute;
        display: block;
        content: "";
        bottom: -10px;
        right: 0;
        background: $black;
        height: 5px;
        width:0;        
        transition: width 200ms ease;
    }

    &:hover::after {
        left: 0;
        width: 100%;
        background: $black;
    }
}

@media screen and (max-width: 425px) {
    .nav__list {
        position:fixed;
        margin-left: 0;
        height: 100%;
        background-color: $grey;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 100px;
        clip-path: circle(100px at 10% -20%);
        transition: all .5s ease-in-out;
    }

    .nav__list.open {
        clip-path: circle(1000px at 10% -10%);
    }

    .hamburger {
        position: absolute;
        z-index:50;
        top: 50%;
        left: 5%;
        cursor: pointer; 
        transform: translate(-5%, -50%); 
    }
    
    .hamburger__line {
        width: 30px;
        height: 3px;
        margin: 5px;
        background-color: $black;
    
    }
}


