.intro {
    position: relative;
    background: url('../img/computer.jpg') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 80vh; 
    
    @include sm(height, 60vh);

    animation-name: slideIn;
    animation-duration: 1.3s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
};

.intro__info {
    @include size(4);  
    @include size-md(5);  
    @include size-sm(10);  
    @include size-xs(12);  
    @include shift-left(7);  
    @include shift-md-left(5);  
    @include shift-sm-left(1);  
    @include shift-xs-left(0);  
    padding-top:100px;
    background-color: transparent;

    @include sm(text-align, center);
};

.intro__name {     
    color: $white;  
    font-weight: 700;  
    font-size: 46px;    
    line-height: 1.2;  
    text-transform: uppercase; 
    margin-bottom: 50px;
}; 

.intro__subtitle {
    color: $white;
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 50px;
};

.intro__btn {
    @include btn(transparent, $white);
    display: block;
    text-align: center;
    box-shadow: 0 0 10px $white;
    transition: all .3s;

    &:hover {
        box-shadow: inset 3px 3px 0 $white;
        background: $white;
        color: $black;
    }
};

.intro-news {
    background-color: transparent;
    margin-top: 40px;
    color:$white;

    @include md(display, none);
     
    &__item {
        @include col();
        @include size(3);
        @include shift-left(1);
        border: 3px solid $white;
        box-shadow: 0 0 30px $white;
        padding: 10px;
    }

    &__date {
        font-size: 20px;
        font-weight: 700;
    }
}