.skills {
    margin-top: -80px;
    padding: 0 0 80px;    
    @include md(margin-top, 0);
}

.skills__title {
    margin:0;
    padding:0;

    &--hide {
        @include visually-hidden();
    }
}

.skills__list {    
    list-style: none;    
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);   
    grid-template-rows: repeat(auto-fill, 150px);
    grid-auto-rows: 150px; 
    grid-gap: 10px;
    justify-content: center;
    justify-items: center; 
}

.skills__item { 
    position: relative;
    width:150px;    
    background-image: linear-gradient(
        to right, 
        rgba(black, 0.5),
        rgba($white, 0.5));           
    background-position: center center;        
    background-repeat:  no-repeat;       
    background-size: cover; 
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

    &:hover {
        transform: translateY(-3px);

        .skills__percent {
            opacity: 1;
        }
        
        &::after {
            opacity: 1;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.8);
        opacity: 0;
    }

    & img {  
        position: absolute;          
        width:  100px;
        height: 100px;        
        top:50%;
        left:50%;
        transform: translate(-50%, -50%); 

        &:hover {
            border: 5px solid black;
        }  
    } 

    &--1 {
        grid-column: 5 / 6;
        @include md(grid-column-start, 1);
        @include md(grid-column-end, 2);
    }
}      
 .skills__percent  {
    color: $red;
    font-size: 30px;
    font-weight: 700;
    opacity: 1;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    
}