.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
  flex-wrap: wrap;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  margin: -15px 0px 0 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;

  &:focus {
    outline: none;
  }

}
/* Стрелка влево */
.slick-arrow.slick-prev{
  left: 0;
  background-image: url('../../img/arrow_left.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
  right: 0;

  background-image: url('../../img/arrow_right.svg');
  background-position: 0 0;
  background-repeat: no-repeat;

}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-dots li{
  margin: 0 10px;
}
/* Активная точка */
.slick-dots li.slick-active button{
  background-color: $white;
  border: 3px solid $grey;
}
/* Элемент точки */
.slick-dots li button{
  font-size: 0;
  width: 25px;
  height: 25px;
  background-color: $grey;
  border-radius: 50%;
  border: none;
}

