.works {
    padding: 60px 0 40px;
}

.works__title-hide {
    @include visually-hidden();
}

.works__categories {
    padding:0;
    margin:0;
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;    
    list-style: none;
    
}

.works__link {
    position: relative;
    font-size: 30px;
    color: $black;
    font-weight: 700;
    text-decoration: none;
    outline: none;
    cursor: pointer;

    &:hover {
        opacity: .5;
    }

    &:active, 
    &:focus {
        outline: none;
    }

    &::after {
        content: "";
        position:absolute;
        width: 100%;
        height: 4px;
        background-color: darken($grey, 30%);
        display: block;
        margin-top: 5px;
        opacity: 0;
        transition-duration: 500ms;
        transition-property: opacity;        
    }
}

.works__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
    width: 100%;
}

.work-card {  
    cursor: pointer;
    margin: 20px 30px 20px 30px;
    width: 320px;
    height: 300px;
    border-radius: 10px;
    position: relative; 
}


.work-card__img {
    width: 100%;
    height: 100%;
}

.work-card__front,
.work-card__back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}

.work-card__front {
    text-align: center;
    transform: perspective(600px) rotateY(0deg);
}

.work-card:hover > .work-card__front {
    transform: perspective(600px) rotateY(-180deg);
}

.work-card__back {
    background: $grey;
    transform: perspective(600px) rotateY(180deg);
    display: flex;
    flex-wrap: wrap;
}

.work-card:hover > .work-card__back {
    transform: perspective(600px) rotateY(0deg);
}

.work-card__content {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}

.work-card__title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.work-card__description {
    margin-bottom: 20px;
    line-height: 20px;
    flex-grow: 1;
}

.work-card__site {  
    display: inline;
    font-size: 30px;  
    text-decoration: none;
    text-transform: uppercase;
    color: lighten($black, 40%);
    font-weight: 400; 
    text-align: right; 
    transition: all .5s;

    
    &:hover {
        color: $black;
    }
}